{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    

    <div class="col-lg-4 bg-light" style="float: left; min-height: 100%; padding-top: 10px;">
        <div class="card">
            <div class="card-header">
                Veri Filtreleme
            </div>
            <div class="card-body">
                <div class="row" style="margin-bottom: 5px">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:30%">
                                <span class="input-group-text" id="basic-addon1" style="width:100%">Eczane</span>
                            </div>
                            <div class="dropdown" style="width:70%">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="pharmacyFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: static; width: 100%">
                                    Tümü
                                </button>
                                <div class="dropdown-menu form-control" aria-labelledby="dropdownMenuButton">
                                    {% for pharmacy in eczaneListesi %}
                                        <a class="dropdown-item pharmacy-item thick_pharmacy_{{pharmacy.eczane_id}}" val="{{pharmacy.eczane_id}}" href="#">{{pharmacy.eczane_adi}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:30%">
                                <span class="input-group-text" id="basic-addon1" style="width:100%">Veri Aralığı</span>
                            </div>
                            <input class="form-control" type="text" name="daterange"/>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 5px">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:30%">
                                <span class="input-group-text" id="basic-addon1" style="width:100%">Firma</span>
                            </div>
                            <div class="dropdown" style="width:70%">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="firmFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: static; width: 100%">
                                    Tümü
                                </button>
                                <div class="dropdown-menu form-control pre-scrollable" aria-labelledby="dropdownMenuButton">
                                    {% for frm in firmaListesi %}
                                        <a class="dropdown-item firm-item thick_firm_{{pharmacy.eczane_id}}" val="{{frm.firma_id}}" href="#">{{frm.firma_adi}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
                
                <button type="button" class="btn btn-success btn-lg btn-block" onclick="filterData()">Veri Filtrele</button>
            </div>
        </div>
        <br/>
        
        <div class="card">
            <div class="card-header">
                Graph Özellikleri
            </div>
            <div class="card-body">
                <div class="row" style="margin-bottom: 5px">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:30%">
                                <span class="input-group-text" id="basic-addon1" style="width:100%">#1 Node</span>
                            </div>
                            <div class="dropdown" style="width:70%">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: static; width: 100%">
                                    Tümü
                                </button>
                                <div class="dropdown-menu form-control" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Tümü</a>
                                    <a class="dropdown-item" href="#">Eczane 1</a>
                                    <a class="dropdown-item" href="#">Eczane 2</a>
                                    <a class="dropdown-item" href="#">Eczane 2</a>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
                
                <div class="row" style="margin-bottom: 5px">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:30%">
                                <span class="input-group-text" id="basic-addon1" style="width:100%">#2 Node</span>
                            </div>
                            <div class="dropdown" style="width:70%">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: static; width: 100%">
                                    Tümü
                                </button>
                                <div class="dropdown-menu form-control" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Tümü</a>
                                    <a class="dropdown-item" href="#">Eczane 1</a>
                                    <a class="dropdown-item" href="#">Eczane 2</a>
                                    <a class="dropdown-item" href="#">Eczane 2</a>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
                
                <div class="row" style="margin-bottom: 5px">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:30%">
                                <span class="input-group-text" id="basic-addon1" style="width:100%">Projection</span>
                            </div>
                            <div class="dropdown" style="width:70%">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: static; width: 100%">
                                    Tümü
                                </button>
                                <div class="dropdown-menu form-control" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Tümü</a>
                                    <a class="dropdown-item" href="#">Eczane 1</a>
                                    <a class="dropdown-item" href="#">Eczane 2</a>
                                    <a class="dropdown-item" href="#">Eczane 2</a>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
                

                <div class="row" style="margin-bottom: 5px">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:30%">
                                <span class="input-group-text" id="basic-addon1" style="width:100%">Node Weight</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Node Weight" aria-label="Node Weight" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Graph Oluştur</button>
            </div>
        </div>
    </div>
    
    <div class="col-lg-7" id="canvas" style="float: left; display: block; height: 100%;">
    </div>
</div>
<script type="text/javascript">
    var pickerStartDate;
    if ('{{dateStart|safe}}') {
        var momentDate = moment('{{dateStart|safe}}', 'MM-DD-YYYY');
        pickerStartDate = momentDate.toDate();
    } else {
        pickerStartDate = new Date('2018', '01' - 1, '01');
    }

    var pickerEndDate;
    if ('{{dateStart|safe}}') {
        var momentDate = moment('{{dateEnd|safe}}', 'MM-DD-YYYY');
        pickerEndDate = momentDate.toDate();
    } else {
        pickerEndDate = new Date('2018', '01' - 1, '15');
    }
    $('input[name="daterange"]').daterangepicker({
        opens: 'left',
        startDate : (pickerStartDate.getDate() + '/' + (pickerStartDate.getMonth() + 1) + '/' +  pickerStartDate.getFullYear()),
        endDate :(pickerEndDate.getDate() + '/' + (pickerEndDate.getMonth() + 1) + '/' +  pickerEndDate.getFullYear()) ,
        locale: {
            format: 'DD/MM/YYYY'
        }
    });
    
    var pickedPharmacy = '{{eczaneId|safe}}';
    var pickedFirm = '{{firmaId|safe}}';
    if (pickedPharmacy) {
        debugger;
        $('#pharmacyFilter').val(pickedPharmacy);
        $('#pharmacyFilter').html($('.thick_pharmacy_' +pickedPharmacy ).text());
    }
    if (pickedFirm) {
        debugger;
        $('#firmFilter').val(pickedFirm);
        $('#firmFilter').html($('.thick_pharmacy_' +pickedFirm ).text());
    }
    var sample = '{{jsonData|safe}}';
    if (sample != "None") {
        var data_from_django = jQuery.parseJSON(sample);
        var G = new jsnx.Graph();
        debugger;
        for (var i = 0; i < data_from_django.length; i++) {
            G.addEdge(data_from_django[i][0], data_from_django[i][1], { 'weight': data_from_django[i][2].weight });
        }
        jsnx.draw(G,
            {
                element: '#canvas',
                weighted: true,
                edgeStyle: {
                    'stroke-width': 10
                },
                with_labels: true
            });
    }

    $('.pharmacy-item').on('click', function() {
        $('#pharmacyFilter').val($(this).attr('val'));
        $('#pharmacyFilter').html($(this).text());
    });

    $('.firm-item').on('click', function() {
        $('#firmFilter').val($(this).attr('val'));
        $('#firmFilter').html($(this).text());
    });

    function filterData() {
        var eczaneFiltre = $('#pharmacyFilter').val();
        var firmaFiltre = $('#firmFilter').val();
        var startDate = $('input[name="daterange"]').data().daterangepicker.startDate._d;
        var endDate = $('input[name="daterange"]').data().daterangepicker.endDate._d;
        var startDateString = startDate.getFullYear() + "-" + ("0" + (startDate.getMonth() + 1)).slice(-2) + "-" + ("0" + startDate.getDate()).slice(-2);
        var endDateString = endDate.getFullYear() + "-" +  ("0" + (endDate.getMonth() + 1)).slice(-2)+ "-" + ("0" + endDate.getDate()).slice(-2) ;
        var redirectUrl = "http://" + window.location.host + "/?filter=true&eczane=" + eczaneFiltre + "&firma=" + firmaFiltre + "&start=" + startDateString + "&end=" + endDateString;
        window.open(redirectUrl,"_self");
    }
</script>
{% endblock %}
